In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('wheat_usa_1909-2020.csv')

In [20]:
df.head(10)

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,SURVEY,2020,YEAR,NaN,STATE,ALABAMA,1,NaN,NaN,NaN,...,NaN,NaN,0,NaN,WHEAT,"WHEAT - PRODUCTION, MEASURED IN $",TOTAL,NOT SPECIFIED,"26,208,000",NaN
1,SURVEY,2020,YEAR,NaN,STATE,ARIZONA,4,NaN,NaN,NaN,...,NaN,NaN,0,NaN,WHEAT,"WHEAT - PRODUCTION, MEASURED IN $",TOTAL,NOT SPECIFIED,"32,566,000",NaN
2,SURVEY,2020,YEAR,NaN,STATE,ARKANSAS,5,NaN,NaN,NaN,...,NaN,NaN,0,NaN,WHEAT,"WHEAT - PRODUCTION, MEASURED IN $",TOTAL,NOT SPECIFIED,"22,894,000",NaN
3,SURVEY,2020,YEAR,NaN,STATE,CALIFORNIA,6,NaN,NaN,NaN,...,NaN,NaN,0,NaN,WHEAT,"WHEAT - PRODUCTION, MEASURED IN $",TOTAL,NOT SPECIFIED,"48,123,000",NaN
4,SURVEY,2020,YEAR,NaN,STATE,COLORADO,8,NaN,NaN,NaN,...,NaN,NaN,0,NaN,WHEAT,"WHEAT - PRODUCTION, MEASURED IN $",TOTAL,NOT SPECIFIED,"190,836,000",NaN
5,SURVEY,2020,YEAR,NaN,STATE,DELAWARE,10,NaN,NaN,NaN,...,NaN,NaN,0,NaN,WHEAT,"WHEAT - PRODUCTION, MEASURED IN $",TOTAL,NOT SPECIFIED,"22,283,000",NaN
6,SURVEY,2020,YEAR,NaN,STATE,GEORGIA,13,NaN,NaN,NaN,...,NaN,NaN,0,NaN,WHEAT,"WHEAT - PRODUCTION, MEASURED IN $",TOTAL,NOT SPECIFIED,"24,310,000",NaN
7,SURVEY,2020,YEAR,NaN,STATE,IDAHO,16,NaN,NaN,NaN,...,NaN,NaN,0,NaN,WHEAT,"WHEAT - PRODUCTION, MEASURED IN $",TOTAL,NOT SPECIFIED,"582,419,000",NaN
8,SURVEY,2020,YEAR,NaN,STATE,ILLINOIS,17,NaN,NaN,NaN,...,NaN,NaN,0,NaN,WHEAT,"WHEAT - PRODUCTION, MEASURED IN $",TOTAL,NOT SPECIFIED,"190,944,000",NaN
9,SURVEY,2020,YEAR,NaN,STATE,INDIANA,18,NaN,NaN,NaN,...,NaN,NaN,0,NaN,WHEAT,"WHEAT - PRODUCTION, MEASURED IN $",TOTAL,NOT SPECIFIED,"92,750,000",NaN

In [17]:
df.drop(['Program', 'Period', 'Week Ending', 'Geo Level', 'Ag District', 'Ag District Code', 'County'], axis=1)

,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,County ANSI,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,2020,YEAR,NaN,STATE,ALABAMA,1,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,WHEAT,"WHEAT - PRODUCTION, MEASURED IN $",TOTAL,NOT SPECIFIED,"26,208,000",NaN
1,2020,YEAR,NaN,STATE,ARIZONA,4,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,WHEAT,"WHEAT - PRODUCTION, MEASURED IN $",TOTAL,NOT SPECIFIED,"32,566,000",NaN
2,2020,YEAR,NaN,STATE,ARKANSAS,5,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,WHEAT,"WHEAT - PRODUCTION, MEASURED IN $",TOTAL,NOT SPECIFIED,"22,894,000",NaN
3,2020,YEAR,NaN,STATE,CALIFORNIA,6,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,WHEAT,"WHEAT - PRODUCTION, MEASURED IN $",TOTAL,NOT SPECIFIED,"48,123,000",NaN
4,2020,YEAR,NaN,STATE,COLORADO,8,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,WHEAT,"WHEAT - PRODUCTION, MEASURED IN $",TOTAL,NOT SPECIFIED,"190,836,000",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3071,1911,YEAR,NaN,STATE,NORTH DAKOTA,38,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,WHEAT,"WHEAT - PRODUCTION, MEASURED IN $",TOTAL,NOT SPECIFIED,"72,882,000",NaN
3072,1910,YEAR,NaN,STATE,ARIZONA,4,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,WHEAT,"WHEAT - PRODUCTION, MEASURED IN $",TOTAL,NOT SPECIFIED,"325,000",NaN
3073,1910,YEAR,NaN,STATE,NORTH DAKOTA,38,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,WHEAT,"WHEAT - PRODUCTION, MEASURED IN $",TOTAL,NOT SPECIFIED,"46,970,000",NaN
3074,1909,YEAR,NaN,STATE,ARIZONA,4,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,WHEAT,"WHEAT - PRODUCTION, MEASURED IN $",TOTAL,NOT SPECIFIED,"471,000",NaN
3075,1909,YEAR,NaN,STATE,NORTH DAKOTA,38,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,WHEAT,"WHEAT - PRODUCTION, MEASURED IN $",TOTAL,NOT SPECIFIED,"108,906,000",NaN